.example-card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.example-header-image {
  background-image: url("../../assets/icons/buddy.png");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.studentForm {
  display: flex;
  div {
    display: flex;
    align-items: center;
    margin: 20px;
  }
}
.mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  .submitBtn {
    background-color: #138a72;
    color: white;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
