.card {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  margin-top: 100px;
}
:host {
  display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 0 50px;
  flex-direction: column;
  // flex: 1 1 0px;
  .adminActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    button {
      background-color: #138a72;
      color: white;
    }
  }
  .adminPanel {
    display: flex;
  }
}

.actions {
  display: flex;
  flex: 1 1 0px;
  align-items: center;
  justify-content: space-between;
  .edit {
    width: 30px;
    height: 30px;

    &:hover {
      cursor: pointer;
    }
  }
}

.students {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 50px;
  width: 400px;
  .list {
    display: flex;
    flex: 1 1 0px;
    justify-content: space-between;
  }
}

.viewContainer {
  display: flex;
}
.title {
  align-items: center;
  justify-content: center;
  display: flex;
}

.createForm {
  display: flex;
  div {
    margin: 20px;
  }
}
.submitBtn {
  background-color: #138a72;
  color: white !important;
}
