.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;
  padding: 50px;

  .submitBtn {
    background-color: #138a72;
    color: white;
    &:disabled {
      opacity: 0.4;
    }
  }
  .adminForm {
    display: flex;
    flex-direction: column;
    div {
      margin: 20px;
      label {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.header-image {
  background-image: url("../../assets/icons/buddy.png");
  background-size: cover;
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
